<h1 class="text-center">Lists</h1>
<div class="container">
  <%= link_to 'New List', new_list_path %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-group">
        <% @lists.each do |list| %>
        <div class="panel panel-default">
          <%= link_to list_path(list.id), class: "link-hover" do %>
          <div class="panel-body link-hover">
            <%= list.name %>
          </div>
          <% end %>
          <div class="panel-footer">
            <%= link_to " Delete", list_path(list.id), method: :delete, class: "pull-right" %>
            <%= link_to "Edit", edit_list_path(list.id) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
